body {
    text-align: center;
    background-color: black;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    /* border: 10px solid black; */
    margin: 1.2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: rgb(223, 196, 43);
}

.red {
    background-color: #ac1518;
}

.green {
    background-color: green;
}

.purple {
    background-color: #304ed6;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: rgb(197, 211, 236);
}

h2 {
    color: white;
}

h1 {
    color: white;
}